<mat-toolbar color="primary" class="mat-elevation-z4">
    <span>Smart Certificate Reader</span>
    <span fxFlex="1 1 auto"></span>
</mat-toolbar>
<div width="590px" height="700px" style="margin-top: 10px;">
    <mat-card *ngIf="certificateVerified == false" style="width: 300px; margin-left: 120px">
        <h3>Please scan Certificate to verify.</h3>
    </mat-card>
    <mat-card *ngIf="certificateVerified == true" style="width: 300px; margin-left: 120px; margin-bottom:25px;">
        <h3>Certificate Verified.</h3>
    </mat-card>
    <pdf-viewer *ngIf="certificateVerified == true" [src]="pdfAddress" [render-text]="true" style="display: block;" [original-size]="false">
    </pdf-viewer>
</div>